<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="form-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <h2><a class="border"><%= @page_properties[:header] %></a></h2>
        <%#= form_for @gallery, :method => :post, :action => "save_asset", :controller => "admin", html: { autocomplete: "off", :id => 'article_form' } do |f| %>
        <%= form_for ([:admin, @gallery]), url: {:controller => "admin/assets", :action => @gallery.new_record? ? :create : :update}, :method => @gallery.new_record? ? "post" : "put", html: { autocomplete: "off", id: "gallery_form" } do |f| %>

            <%= f.hidden_field 'id', :value => @gallery.id %>

            <%= f.hidden_field 'type', :value => params[:type] %>

            <p class="col-md-6 col-sm-12 col-xs-12 text-field">
              <%= f.text_field :name, :class => 'form-white' ,:placeholder => 'Name' %>
            </p>

            <p class="col-md-6 col-sm-6 col-xs-12 text-field">
              <%= f.text_field :caption, :class => 'form-white', :placeholder => 'Caption' %>
            </p>

            <div class="col-md-4 col-sm-6 col-xs-12 check-box">
              <label>Status</label>
              <%= custom_check_box_3("gallery[status]", true, @gallery.status, "gallery_status", "Yes", "No") %>
            </div>

            <p class="col-md-8 col-sm-12 col-xs-12 text-field">
              <%= f.text_area :description, :class => 'form-white', :placeholder => 'Description', :rows => 1 %>
            </p>

            <% unless @gallery.new_record? %>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding gallery-image-select">
                  <p class="col-md-12 col-sm-12 col-xs-12 select-box" data-content="Title Image">
                    <%= collection_select(:gallery, :title_image_id, @gallery.images, :id, :title, {:include_blank => "--Title Image--"}, {:class => "cs-select cs-skin-elastic"}) %>
                  </p>
                  <div class="preload-image" style="display: none">
                    <% @gallery.images.each do |img| %>
                        <span id="<%= img.id %>"><%= img.location_path %></span>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="col-md-6 col-sm-6 col-xs-12 no-padding preview-image">
              <img src="#"/>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 submit-button">
              <%= custom_button_3(value:(@gallery.new_record? ? "Add" : "Update") + " Gallery") %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<style>

</style>