<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="admin-block col-md-12 col-sm-12 col-xs-12 no-padding" id="our-modules">
    <div class="container no-padding">
      <div class="row">

        <div class="admin-common-block col-md-12 col-sm-12 col-xs-12 no-padding">
          <h2 id="contact"><a class="border"><%= @page_properties[:header] %></a></h2>

          <%# @breadcrumb = {:Home => root_url, :List_Articles => "#"} %>
          <%#= render :partial => 'layouts/breadcrumb' %>

          <div class="new-button">
            <%= custom_link_1("New Asset", new_admin_asset_path, "link-1") %>
            <%= custom_link_1("New Gallery", new_admin_asset_path(:type => 'gallery'), "link-1") %>
          </div>

          <style>
            .preview_img {
                height: 150px;
                background-position: center center;
                object-fit: cover;
                width: 120px;
            }
          </style>
          <% @assets.each do |asset| %>
              <div class="download-block col-md-3 col-sm-4 col-xs-6 no-padding">
                <a href="<%= edit_admin_asset_path(asset, :type => 'asset') %>">
                  <% if asset.asset_type == "Image" %>
                      <img src="<%= asset.location_path %>" class="preview_img"/>
                  <% else %>
                      <img src="/images/core/<%= get_file_img(asset.title.split('.').last) %>"/>
                  <% end %>
                  <p><%= asset.title.upcase %></p>
                </a>
              </div>
          <% end %>

          <% @gallery.each do |gallery| %>
              <div class="download-block col-md-3 col-sm-4 col-xs-6 no-padding">
                <a href="<%= edit_admin_asset_path(gallery, :type => 'gallery') %>">aa
                  <!--<img src="/images/core/<%#= get_file_img(asset.title.split('.').last) %>"/>-->
                  <!--<p><%#= asset.title.upcase %></p>-->
                </a>
              </div>
          <% end %>

        </div><!--INFO-COMMON-BLOCK-->
      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->
</div><!--CONTAINER-BLOCK-->