<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="form-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <h2><a class="border"><%= @page_properties[:header] %></a></h2>

        <%# value = params[:action] == "new_articles" ? :New : :Edit %>
        <%# @breadcrumb = {:Home => root_url, :List_Articles => list_articles_path, value => "#"} %>
        <%#= render :partial => 'layouts/breadcrumb' %>

        <%= form_for ([:admin, @article]), :controller => "admin/articles", :action => @article.new_record? ? :create : :update, :method => @article.new_record? ? "post" : "put", html: { autocomplete: "off", :id => 'article_form' } do |f| %>

            <%#= semantic_form_for ([:admin, @article]),:controller => "admin/articles", :action => @article.new_record? ? :create : :update, :html => {:name => "article", :method => @article.new_record? ? "post" : "put"} do |f| %>

            <%= f.hidden_field 'id', :value => @article.id %>

            <p class="col-md-5 col-sm-12 col-xs-12 text-field">
              <%= f.text_field :title, :class => 'form-white' ,:placeholder => 'Title'%>
            </p>

            <p class="col-md-5 col-sm-8 col-xs-12 text-field">
              <%= f.text_field :alias_url, :class => 'form-white', :placeholder => 'Alias URL' %>
            </p>

            <p class="col-md-2 col-sm-4 col-xs-12 text-field">
              <%= f.text_field :sequence_number, :class => 'form-white', :placeholder => 'Sequence Number' %>
            </p>

            <p class="col-md-12 col-sm-12 col-xs-12 text-field">
              <%= f.text_area :description, :class => 'form-white', :placeholder => 'Description', :rows => 1 %>
            </p>



            <div class="col-md-4 col-sm-6 col-xs-12 check-box">
              <label>Published</label>
              <%= custom_check_box_3("article[status]", true, @article.status, "article_status", "Yes", "No") %>
            </div>

            <p class="col-md-4 col-sm-6 col-xs-12 select-box article-type" data-content="Article Type">
              <%= select_tag "article[article_type]", options_for_select(ARTICLE_TYPES, @article.article_type), :class => "cs-select cs-skin-elastic", prompt: "--Article Type--" %>
            </p>

            <div class="col-md-4 col-sm-6 col-xs-12 all-article-type Article-article-type no-padding">
              <p class="col-md-12 col-sm-12 col-xs-12 select-box" data-content="Heading Block">
                <%= select_tag "article[heading_block]", options_for_select(BLOCK_SELECTOR, @article.heading_block), :class => "cs-select cs-skin-elastic", prompt: "--Heading Block--" %>
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 all-article-type Blog-article-type no-padding">
              <p class="col-md-12 col-sm-12 col-xs-12 select-box" data-content="Author">
                <%= select_tag "article[author]", options_for_select(AUTHORS, @article.author), :class => "cs-select cs-skin-elastic", prompt: "--Select Author--" %>
              </p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 all-article-type Blog-article-type no-padding">
              <p class="col-md-4 col-sm-6 col-xs-12 select-box" data-content="Category">
                <%= collection_select(:article, :category_id, Category.all, :id, :name, options={:selected => @article.category.try(:id), :include_blank => '--Select Category--'}, {class: "cs-select cs-skin-elastic"} ) %>
              </p>

              <p class="col-md-4 col-sm-6 col-xs-12 auto-complete" data-content="Tags">
                <%= raw custom_autocomplete("article[tag_ids]", Tag.all, "name", @article.tags) %>
              </p>

              <div class="col-md-4 col-sm-6 col-xs-12 date-picker from-date" data-content="Display Date">
                <%= f.text_field :display_date, {:class => 'form-white' ,:placeholder => 'Display Date', id: 'display-date'} %>
                <div id="display-date-field"></div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 all-article-type Static-Page-article-type  no-padding">
              <p class="col-md-12 col-sm-12 col-xs-12 select-box">
                <%#= select_tag "article[article_type]", options_for_select(["Articles", "Blog", "Static-Page"], @article.article_type), :class => "cs-select cs-skin-elastic", prompt: "--Article Type--" %>
              </p>
            </div>

            <%= f.fields_for :article_content do |e| %>

                <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                  <p class="col-md-6 col-sm-6 col-xs-12 text-field">
                    <%= e.text_field :banner_image_url, :class => 'form-white', :placeholder => 'Banner Image URL', :value => @article_content.try(:banner_image_url) %>
                  </p>

                  <p class="col-md-6 col-sm-6 col-xs-12 text-field">
                    <%= e.text_field :page_title, :class => 'form-white', :placeholder => 'Page Title', :value => @article_content.try(:page_title) %>
                  </p>

                  <p class="col-md-12 col-sm-12 col-xs-12 text-field">
                    <%= e.text_field :meta_keywords, :class => 'form-white', :placeholder => 'Meta Keywords', :value => @article_content.try(:meta_keywords) %>
                  </p>

                  <p class="col-md-12 col-sm-12 col-xs-12 text-field">
                    <%= e.text_area :meta_description, :class => 'form-white', :placeholder => 'Meta Description', :value => @article_content.try(:meta_description), :rows => 1 %>
                  </p>
                </div>

                <p class="col-md-12 col-sm-12 col-xs-12 tinymce-content">
                  <%#= f.text_area :content, :class => 'form-white', :placeholder => 'Content', :rows => 5 %>
                  <%= e.text_area :content, :class => "tinymce", :placeholder => 'Content', :value => @article.article_content.try(:content) %>
                </p>

            <% end %>

            <div class="col-md-12 col-sm-12 col-xs-12 submit-button">
              <%#= f.submit "Create Article", :class => "submit_btn" %>
              <%= custom_button_3((@article.new_record? ? "Add" : "Update") + " Article") %>
            </div>

        <% end %>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SERVICE-BLOCK-->
</div><!--CONTAINER-BLOCK-->


<%= tinymce :plugins => ["wordcount", "paste", "preview", "code", "table", "searchreplace", "image"], :toolbar => ["formatselect | searchreplace undo redo | bullist numlist | code image"] %>

<script>
  $('#display-date-field').calendar({
    trigger: '#display-date',
    zIndex: 999,
    onSelected: function (view, date, data) {
      console.log('event: onSelected')
    },
    onClose: function (view, date, data) {
      console.log('event: onClose');
      console.log('view:' + view);
      console.log('date:' + date);
      console.log('data:' + (data || 'None'));
    }
  });
</script>