<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="form-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <h2><a class="border"><%= @page_properties[:header] %></a></h2>

        <%# value = params[:action] == "new_articles" ? :New : :Edit %>
        <%# @breadcrumb = {:Home => root_url, :List_Articles => list_articles_path, value => "#"} %>
        <%#= render :partial => 'layouts/breadcrumb' %>

        <%= form_for ([:admin, @article]), method: :post, :controller => "admin/articles", :action => @article.new_record? ? :create : :update, :method => @article.new_record? ? "post" : "put", html: { autocomplete: "off" } do |f| %>

        <%#= semantic_form_for ([:admin, @article]),:controller => "admin/articles", :action => @article.new_record? ? :create : :update, :html => {:name => "article", :method => @article.new_record? ? "post" : "put"} do |f| %>

        <%= f.hidden_field 'id', :value => @article.id %>

        <p class="col-md-5 col-sm-12 col-xs-12 text-field">
          <%= f.text_field :title, :class => 'form-white' ,:placeholder => 'Title'%>
        </p>

        <p class="col-md-4 col-sm-6 col-xs-12 text-field">
          <%= f.text_field :alias_url, :class => 'form-white', :placeholder => 'Alias URL' %>
        </p>

        <p class="col-md-3 col-sm-6 col-xs-12 text-field">
          <%= f.text_field :sequence_number, :class => 'form-white', :placeholder => 'Sequence Number' %>
        </p>

        <p class="col-md-5 col-sm-6 col-xs-12 text-field">
          <%= f.text_field :description, :class => 'form-white', :placeholder => 'Description' %>
        </p>

        <div class="col-md-4 col-sm-6 col-xs-12 check-box">
          <label>Published</label>
          <%= custom_check_box_3("article[status]", true, @article.status, "article_status", "Yes", "No") %>
        </div>

        <p class="col-md-3 col-sm-6 col-xs-12 select-box">
          <%= select_tag "article[article_type]", options_for_select(["Article", "Blog", "Static-Page"], @article.article_type), :class => "cs-select cs-skin-elastic", prompt: "--Article Type--" %>
        </p>

        <%= f.fields_for :article_content do |e| %>

            <p class="col-md-12 col-sm-12 col-xs-12 tinymce-content">
              <%#= f.text_area :content, :class => 'form-white', :placeholder => 'Content', :rows => 5 %>
              <%= e.text_area :content, :class => "tinymce", :placeholder => 'Content', :value => @article.article_content.try(:content) %>
            </p>

        <% end %>

        <div class="col-md-12 col-sm-12 col-xs-12 submit-button">
          <%#= f.submit "Create Article", :class => "submit_btn" %>
          <%= custom_button_1("wayra", "Submit Article")%>
          <!--<button class="button button--wayra" value="Create Article" name="commit"> Submit Article </button>-->
        </div>

        <% end %>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SERVICE-BLOCK-->
</div><!--CONTAINER-BLOCK-->


<%= tinymce :plugins => ["wordcount", "paste", "preview", "code", "table"] %>