<script src="/lightbox/js/lightbox.js"></script>

<%= stylesheet_link_tag "site/home" %>

<div class="services col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>What we offer</a></h2>

  <% block=["left", "right"] %>
  <% @services.each_with_index do |article, index| %>
      <div class="service-block-<%= block[index%2] %> col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="container no-padding">
          <div class="row no-margin">

            <div class="services-content col-md-12 col-sm-12 col-xs-12">

              <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
                <!--<img src="/images/1.jpg">-->
                <i class="fa <%= article.image_url %> fa-lg fa1"></i>
              </div>

              <div class="text-block col-md-8 col-sm-12 col-xs-12 no-padding">
                <h4><%= article.title %></h4>
                <p><%= article.description %></p>
                <div class="know-more-button">
                  <%= custom_link_3("Know More", article.alias_url, "link-3") %>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  <% end %>

  <div class="servies-query col-md-12 col-sm-12 col-xs-12 no-padding gray-back">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="query-content">
          <h4>Need More Info...?</h4>
          <p>Try to get in touch with our engineers. We will clarify your queries.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="fresco/js/fresco.js"></script>
<link rel="stylesheet" href="fresco/css/fresco.css">

<div class="showcase col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Show-Case</a></h2>
  <div class="showcase-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <div class="grid">

          <% @gallery.each do |gallery| %>
              <div class="showcase-content col-md-12 col-sm-12 col-xs-12" id="first">
                <div class="figure col-md-5 col-sm-5 col-xs-12 img-block no-padding">
                  <figure class="effect-sadie">
                    <img src="<%= gallery.title_image.location %>" alt="img02"/>
                    <figcaption>
                      <h4><%= gallery.name %></h4>
                      <p><%= gallery.title_image.caption %></p>
                      <a data-fresco-group="<%= gallery.name %>" data-fresco-caption="<%= gallery.caption %>" class="fresco" href="<%= gallery.title_image.location %>"></a>
                    </figcaption>
                  </figure>
                </div>
                <div class="content col-md-7 col-sm-7 col-xs-12 img-block no-padding">
                  <h4><%= gallery.name %></h4>
                  <p><%= gallery.description %></p>
                </div>
                <div class="all-images col-md-7 col-sm-7 col-xs-12 img-block no-padding">

                  <% gallery.images.by_sequence.limit(3).each do |image| %>
                      <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                        <figure class="effect-sadie">
                          <img src="<%= image.location %>" alt="img02"/>
                          <figcaption>
                            <p><%= image.caption %></p>
                            <a data-fresco-group="<%= gallery.name %>" data-fresco-caption="<%= gallery.caption %>" class="fresco" href="<%= image.location %>"></a>
                          </figcaption>
                        </figure>
                      </div>
                  <% end %>

                </div>
              </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="newsletter col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="container no-padding">
    <div class="row">

      <div class="newsletter-block col-md-12 col-sm-12 col-xs-12 no-padding">
        <h2 class="border white"><a>Pop-in to our Mailing List</a></h2>
        <p>We'll send occassional email with updates and many more interesting stuffs. You can unsubscribe at any time.</p>

        <div class="col-md-12 col-sm-12 col-xs-12 no-padding testt">
        <form>
            <p class="text-fiel col-md-8 col-sm-8 col-xs-12 no-padding">
              <input type="text" class="form-white" placeholder="Email"/>
            </p>
            <div class="submit col-md-4 col-sm-4 col-xs-12 no-padding">
              <%= custom_button_3(value:"Get into the Queue") %>
            </div>
        </form>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  .newsletter{
      /*background-color: #59abe3;*/
      background-image: url('http://www.oneboardpc.com/wp-content/uploads/2016/03/Background.jpg');
      background-size: 100% auto ;
  }
  .submit button{
      margin: 0;
      display: inline;
      float: left;
  }
  .newsletter-block form p{
      text-align: center;
      padding-right: 3%;
      margin: 0.5% 0;
  }
  .newsletter-block p input{
      width: 75%;
      display: inline;
      float: right;
      height: 50px;
      background-color: transparent;
  }
  .newsletter-block{
      margin: 1% 0 5%;
      text-align: center;
  }
  .newsletter-block .text-field input{
      width: 75%;
  }
    .showcase-content{
        position: relative;
        overflow: hidden;
    }
    .showcase-content .content {
        padding-top: 10%;
        text-align: center;
        transition:all 0.4s linear 0s;
    }
    .showcase-content:hover .content{
        padding: 1%;
    }
    .showcase-content:hover .all-images{
        bottom: 0;
    }
    .showcase-content .all-images {
        bottom: -50%;
        right: 0;
        position: absolute;
        transition: all 0.4s linear 0s;
    }
    .all-images .effect-sadie p {
        font-size: 10px;
    }
</style>