<%= stylesheet_link_tag "site/home" %>
<%= javascript_include_tag "site/home" %>

<script type="text/javascript" src="fresco/js/fresco.js"></script>
<link rel="stylesheet" href="fresco/css/fresco.css">


<div class="intro col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Intro</a></h2>

  <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="intro-content col-md-12 col-sm-12 col-xs-12">
          <p>
            A training invite to induce innovation among the budding engineers of our nation. Inspiring students to sharpen their skills by spending some precious time with the trainers of Katomaran Robotics remains the motive of this event. We provide loads of theories, knowledge, industrial updates and more to guide our students to generate befitting thoughts. But as known, innovation is not complete only with creative ideas and it needs something more to evolve into its ultimate form, which in this case is transfiguring the ideas into reality. Here comes the justification why we lead all our customers to get involved with hardware. Exposing to various parts of an Artificially Intelligent Species beginning from a small plastic screw and terminating at a completely integrated Robot not only improves the mastery of our students but also makes us, Katomaran Engineered Trainers to own a lot of Pride in what we do. By the end of the day, we intend to motivate students to grow better and better so that they can be proficient than the generation we know and take our nation to greater heights.
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>What we offer</a></h2>

  <% block=["left", "right"] %>
  <% @services.each_with_index do |article, index| %>
      <div class="service-block-<%= block[index%2] %> col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="container no-padding">
          <div class="row no-margin">

            <div class="services-content col-md-12 col-sm-12 col-xs-12">

              <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
                <!--<img src="/images/1.jpg">-->
                <i class="fa <%= article.image_url %> fa-lg fa1"></i>
              </div>

              <div class="text-block col-md-8 col-sm-12 col-xs-12 no-padding">
                <h4><%= article.title %></h4>
                <p><%= article.description %></p>
                <div class="know-more-button">
                  <%= custom_link_3("Know More", article.alias_url, "link-3") %>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  <% end %>

  <div class="servies-query col-md-12 col-sm-12 col-xs-12 no-padding gray-back">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="query-content">
          <h4>Need More Info...?</h4>
          <p>Try to get in touch with our engineers. We will clarify your queries.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="showcase col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Show-Case</a></h2>
  <div class="showcase-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <div class="grid">

          <% @gallery.each do |gallery| %>
              <div class="showcase-content col-md-12 col-sm-12 col-xs-12" id="first">
                <div class="figure col-md-5 col-sm-5 col-xs-12 img-block no-padding">
                  <figure class="effect-sadie">
                    <img src="<%= gallery.title_image.location %>" alt="img02"/>
                    <figcaption>
                      <p><%= gallery.title_image.caption %></p>
                      <a data-fresco-group="<%= gallery.name %>" data-fresco-caption="<%= gallery.caption %>" class="fresco" href="<%= gallery.title_image.location %>"></a>
                    </figcaption>
                  </figure>
                </div>
                <div class="content col-md-7 col-sm-7 col-xs-12 img-block no-padding">
                  <h4><%= gallery.name.upcase %></h4>
                  <p><%= gallery.description %></p>
                </div>
                <div class="all-images col-md-7 col-sm-7 col-xs-12 img-block no-padding">

                  <% gallery.images_without_title_image.by_sequence.limit(3).each do |image| %>
                      <div class="figure img-block no-padding">
                        <figure class="effect-sadie">
                          <img src="<%= image.location %>" alt="img02"/>
                          <figcaption>
                            <p><%= image.caption %></p>
                            <a data-fresco-group="<%= gallery.name %>" data-fresco-caption="<%= gallery.caption %>" class="fresco" href="<%= image.location %>"></a>
                          </figcaption>
                        </figure>
                      </div>
                  <% end %>

                </div>
              </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="newsletter col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="container no-padding">
    <div class="row">

      <div class="newsletter-block col-md-12 col-sm-12 col-xs-12 no-padding">
        <h2 class="border white"><a>Pop-in to our Mailing List</a></h2>
        <p>We'll send occassional email with updates and many more interesting stuffs. You can unsubscribe at any time.</p>

        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">

          <%= form_tag add_to_newsletter_path, id: "add_to_newsletter" do %>
              <p class="text-fiel col-md-8 col-sm-8 col-xs-12 no-padding">
                <%= text_field_tag :email, nil, class: "form-white", placeholder: "Email" %>
              </p>

              <%= hidden_field_tag :news_id, @newsletter.try(:id) %>

              <div class="submit col-md-4 col-sm-4 col-xs-12 no-padding">
                <%= custom_button_3(value:"Get into the Queue") %>
              </div>
              <div class="validation">
                <img src="http://i.imgur.com/HC3a6u3.gif">
                <p>
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                  <span> </span>
                </p>
              </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
<script>

</script>

<style>
    .validation {
        float: left;
        font-size: 15px;
        padding-top: 1%;
        text-align: center;
        width: 100%;
    }
    .validation p{
        display: inline;
    }
    .validation > img {
        display: inline-block;
        max-width: 75px;
        visibility: hidden;
    }
    .validation p i{
        padding-right: 1%;
        display: none;
    }
    .validation p.true{
        color: green;
    }
    .validation p.false{
        color: red;
    }
    .validation p.true i.fa-check-circle{
        display: inline;
    }
    .validation p.false i.fa-times-circle{
        display: inline;
    }
    .newsletter{
        /*background-color: #59abe3;*/
        background-image: url('http://www.oneboardpc.com/wp-content/uploads/2016/03/Background.jpg');
        background-size: 100% auto ;
    }
    .submit button{
        margin: 0;
        display: inline;
        float: left;
    }
    .newsletter-block form p{
        text-align: center;
        padding-right: 3%;
        margin: 0.5% 0;
    }
    .newsletter-block p input{
        width: 75%;
        display: inline;
        float: right;
        height: 50px;
        background-color: transparent;
    }
    .newsletter-block{
        margin: 1% 0 5%;
        text-align: center;
    }
    .newsletter-block .text-field input{
        width: 75%;
    }
    .showcase-content{
        position: relative;
        overflow: hidden;
    }
    .showcase-content .content {
        padding-top: 10%;
        text-align: center;
        transition:all 0.4s linear 0s;
    }
    .showcase-content:hover .content{
        padding: 1%;
    }
    .showcase-content:hover .all-images{
        bottom: 0;
    }
    .showcase-content .all-images {
        bottom: -60%;
        right: 0;
        position: absolute;
        transition: all 0.4s linear 0s;
    }
    .all-images .effect-sadie p {
        font-size: 10px;
    }
    .all-images figure {
        max-width: 33.33%;
    }
</style>