<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="form-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <style type="text/css">
            #download_form {
                font: 500 14px 'roboto';
            }
            ul, ol, li {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            #demo {
                width: 300px;
                margin: 150px auto;
            }
            #download_form input[type="text"] {
                border: 1px solid #ccc;
                outline: medium none;
                text-align: center;
            }
            #to-date-field, #from-date-field {
                left: 15px !important;
                top: 34px !important;
            }
            .days > li {
                border-bottom: 1px solid #66be8c;
                border-top: 1px solid #66be8c;
                color: black;
            }

        </style>

        <h2><a class="border"><%= @page_properties[:header] %></a></h2>

        <%= form_for ([:admin, @report]), url: admin_report_download_file_path, :method => "post", html: { autocomplete: "off", :id => 'download_form' } do |f| %>

            <div class="col-md-6 col-sm-6 col-xs-12 from-date">
              <!--<input type="text"  placeholder="From Date" class="form-white">-->
              <%= text_field_tag "report[from_date]", nil, {:class => 'form-white' ,:placeholder => 'From Date', id: 'from-date'} %>
              <div id="from-date-field"></div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 from-date">
              <%= text_field_tag "report[to_date]", nil, {:class => 'form-white' ,:placeholder => 'To Date', id: 'to-date'} %>
              <div id="to-date-field"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 submit-button">
              <%= custom_button_1("wayra", "Get Report") %>
            </div>

        <% end %>

      </div><!--ROW-->
    </div><!--CONTAINER-->
    <script>
        $('#to-date-field').calendar({
            trigger: '#to-date',
            zIndex: 999,
            onSelected: function (view, date, data) {
                console.log('event: onSelected')
            },
            onClose: function (view, date, data) {
                console.log('event: onClose');
                console.log('view:' + view);
                console.log('date:' + date);
                console.log('data:' + (data || 'None'));
            }
        });

        $('#from-date-field').calendar({
            trigger: '#from-date',
            zIndex: 999,
            onSelected: function (view, date, data) {
                console.log('event: onSelected')
            },
            onClose: function (view, date, data) {
                console.log('event: onClose');
                console.log('view:' + view);
                console.log('date:' + date);
                console.log('data:' + (data || 'None'));
            }
        });

    </script>
  </div><!--SERVICE-BLOCK-->
</div><!--CONTAINER-BLOCK-->
