<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="form-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <h2><a class="border"><%= @page_properties[:header] %></a></h2>

        <%= form_for ([:admin, @report]), url: admin_report_download_file_path, :method => "post", html: { autocomplete: "off", :id => 'download_form' } do |f| %>

            <div class="col-md-6 col-sm-6 col-xs-12 from-date">
              <%= text_field_tag "report[from_date]", nil, {:class => 'form-white' ,:placeholder => 'From Date', id: 'from-date'} %>
              <div id="from-date-field"></div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 from-date">
              <%= text_field_tag "report[to_date]", nil, {:class => 'form-white' ,:placeholder => 'To Date', id: 'to-date'} %>
              <div id="to-date-field"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 submit-button">
              <%= custom_button_3(value: "Get Report") %>
            </div>

        <% end %>

      </div><!--ROW-->
    </div><!--CONTAINER-->

    <link rel="script" src="/offline_assets/calendar.js">
    <script>
        $(document).ready(function(){
            $('#to-date-field').calendar({
                trigger: '#to-date',
                zIndex: 999,
                onSelected: function (view, date, data) {
                    console.log('event: onSelected')
                },
                onClose: function (view, date, data) {
                    console.log('event: onClose');
                    console.log('view:' + view);
                    console.log('date:' + date);
                    console.log('data:' + (data || 'None'));
                }
            });

            $('#from-date-field').calendar({
                trigger: '#from-date',
                zIndex: 999,
                onSelected: function (view, date, data) {
                    console.log('event: onSelected')
                },
                onClose: function (view, date, data) {
                    console.log('event: onClose');
                    console.log('view:' + view);
                    console.log('date:' + date);
                    console.log('data:' + (data || 'None'));
                }
            });
        });

    </script>
  </div><!--SERVICE-BLOCK-->
</div><!--CONTAINER-BLOCK-->
