<header>
  <div class="banner">
    <div class="header-content col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="container no-padding">
        <div class="row no-margin">

          <div class="header-top col-md-12 col-sm-12 col-xs-12">
            <div class="header-left col-md-3 col-sm-3 col-xs-12 no-padding">
              <div class="header-logo">
                <a href="/"><img src="/images/core/menu_logo.png"/></a>
              </div>
            </div>

            <div class="header-right col-md-9 col-sm-9 col-xs-12 no-padding">
              <div class="header-menu">

                <section class="menu">
                  <nav class="cl-effect-9 text-right">
                    <a href="<%= dashboard_admin_index_path %>"><span>Dashboard</span><span>Get all controls</span></a>
                    <a href="<%= admin_articles_path %>"><span>Articles</span><span>See all articles</span></a>
                    <a href="<%= reports_admin_index_path %>"><span>Reports</span><span>Get the Status</span></a>
                    <a href="<%= upload_admin_index_path %>"><span>Upload</span><span>Manage Assets</span></a>
                    <a href="<%= root_path %>"><span>Visit Site</span><span>Our World</span></a>

                  </nav>
                </section>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
