
<header>
<div class="banner">
  <div class="header-content col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="header-left col-md-3 col-sm-3 col-xs-9 no-padding">
            <div class="header-logo">
              <a href="/"><img src="/images/core/menu_logo.png"/></a>
            </div>
          </div>

          <div class="header-right col-md-9 col-sm-9 col-xs-3 no-padding">
            <div class="header-menu">

              <section class="menu">
                <nav class="cl-effect-9 text-right">
                  <a href="<%= root_path %>">
                    <span>Home</span>
                    <span>Our World</span>
                  </a>
                  <a href="<%= services_path %>">
                    <span>Services</span>
                    <span>Our Expertize</span>
                  </a>
                  <a href="<%= show_case_path %>">
                    <span>Showcase</span>
                    <span>Pictures Speak</span>
                  </a>
                  <a href="<%= history_path %>">
                    <span>History</span>
                    <span>Our Timeline</span>
                  </a>
                  <a href="<%= contact_us_path %>">
                    <span>Contact Us</span>
                    <span>Get in Touch</span>
                  </a>
                </nav>
              </section>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</header>
