<footer>
  <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
          <ul>
            <li><a href="<%= login_path %>">Login</a></li>
            <li><a href="<%= downloads_path %>">Downloads</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/quote">Request Quote</a></li>
            <li><a href="/blog/articles">Our Blog</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </div>

        <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="copy-right">
            <p>&copy; <%= Date.today.strftime("%Y") %>. Katomaran Techno Solutions. </p>
            <p>Powered by - <a href="http://www.webservices.katomaran.com" class="tip">Katomaran WebServices</a></p>
          </div>
          <div class="social-icon">
            <a href="<%= get_social_link(:facebook) %>">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="<%= get_social_link(:twitter) %>">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="<%= get_social_link(:google) %>">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>
