<!DOCTYPE html>
<html>
<head>
  <title>Katofresh</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag  'application', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag  'admin' %>
  <%= stylesheet_link_tag "style", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/site_header'%>

<%= yield %>

<%= render 'layouts/site_footer' %>

</body>
</html>
